<div class="prototype-elements">

    <h4>Elements</h4>
    <hr>
    <div>
        <fieldset>
            <h2>Form Elements</h2>
            <ul>
                <li>
                    <button class="element button" id="add_h1"> 
                        <i class="fa fa-header" aria-hidden="true"></i> 
                        H1 title
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_input"> 
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                        Input Field
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_textarea">
                        <i class="fa fa-text-width" aria-hidden="true"></i>
                        Text Area Field
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_select">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Select Feild
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_radio">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        Radio Field
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_checkbox">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Checkbox Field
                    </button>
                </li>
                <li>
                    <button class="element button" id="add_upload">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        Upload Field
                    </button>
                </li>
            </ul>
        </fieldset>
        

    </div>

</div>



