{% extends "layout.html" %}

{% block page_title %}
    Prototype Designer
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "./includes/css.html" %}
{% endblock %}

{% block service_name %}
    Prototype Designer
{% endblock %}

{% block content %}

<main id="prototype-designer" role="main">
    <div class="grid-row">
        <div class="column-one-quarter">
            {% include "./subviews/element.selector.html" %}
        </div>
    </div>
    <div class="grid-row">

        <div class="column-one-half">
            {% include "./subviews/source.editor.html" %}
        </div>

        <div class="column-one-half">
            {% include "./subviews/preview.html" %}
        </div>

        

    </div>
    <div class="grid-row">
        <div class="column-one-half">
            <div class="downloadSource">
                <div class="form-group">
                    <label class="form-label" for="downloadSourceName">File Name</label>
                    <input class="form-control" id="downloadSourceName" name="downloadSourceName" type="text">
                </div>
                <button id="downloadSourceBtn" class="button"><i class="fa fa-download" aria-hidden="true"></i> Download Source</button>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block page_scripts %}

{% include "./includes/scripts.html" %}

{% endblock %}

