@import 'govuk-elements';

#global-header .header-proposition #proposition-name {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.8;
}

#global-header-bar {
  width:100%;
  max-width: 100%;
  background-color: $panel-colour;
}

#page-composer{
  min-height: 100px;

  .column-one-half {
    padding: 10px;
  }

  #editor { 
      box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2),0 0px 5px 0 rgba(0,0,0,0.19);
      padding: 5px;
      margin: 0px;
      width: 95%; 
      min-height: 750px;
  }

  #prototypeCanvas{
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2),0 0px 5px 0 rgba(0,0,0,0.19);
    padding: 5px;
    margin: 0px;
    margin-left: 10px;
    min-height: 750px;    
  }

}